version: "3.4"

services:
    redis:
        image: redis:latest
        hostname: redis
        networks:
            - main
        ports:
            - "6379:6379"
        restart: always

    app:
        image: alannazhou/app:latest
        hostname: app
        env_file: .env
        command: sh -c "python manage.py makemigrations && python manage.py migrate && gunicorn flick.wsgi -b 0.0.0.0:8000"
        depends_on:
            - redis
        expose:
            - "8000"
        networks:
            - main
        restart: always
        volumes:
            - static:/static
            - /home/alanna/docker-compose/aps.pem:/usr/src/app/aps.pem
            - /home/alanna/docker-compose/apple_private.p8:/usr/src/app/apple_private.p8

    celery_worker:
        image: alannazhou/app:latest
        hostname: celery_worker
        env_file: .env
        command: sh -c "./wait-for-it.sh redis:6379 && ./wait-for-it.sh app:8000 -- celery -A flick worker -l info"
        depends_on:
            - app
            - redis
        deploy:
            replicas: 2
            restart_policy:
                condition: on-failure
        networks:
            - main
        restart: always
        volumes:
            - /home/alanna/docker-compose/aps.pem:/usr/src/app/aps.pem
            - /home/alanna/docker-compose/apple_private.p8:/usr/src/app/apple_private.p8

    nginx:
        image: alannazhou/nginx:latest
        depends_on:
            - app
        networks:
            - main
        ports:
            - "80:80"
        restart: always
        volumes:
            - static:/var/www/app/static

networks:
    main:

volumes:
    static:
