*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
*.p8
*.pem
*.sqlite3
*.envrc
*.env
.cache
.project
.idea
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
__pycache__
dist
docs
venv
env
logs
src/node_modules
stats
Dockerfile

