DEBUG=True
SQLITE3=False
POSTGRES_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=
TMDB_API_KEY=
SECRET_KEY=
DJANGO_ALLOWED_HOSTS=0.0.0.0 localhost 
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
APPLE_KEY_ID=
APPLE_TEAM_ID=
APPLE_BUNDLE_ID=
APPLE_PRIVATE_KEY=
APNS_CERTIFICATE=
FCM_API_KEY=