export DEBUG=True
export SQLITE3=True
export POSTGRES_NAME=postgres
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=postgres
export POSTGRES_HOST=postgres
export TMDB_API_KEY=
export SECRET_KEY=
export DJANGO_ALLOWED_HOSTS=0.0.0.0,127.0.0.1
export AWS_ACCESS_KEY=
export AWS_SECRET_KEY=
export VALIDATE_SOCIAL_TOKEN=False
export APPLE_KEY_ID=
export APPLE_TEAM_ID=
export APPLE_BUNDLE_ID=
export APPLE_PRIVATE_KEY=
export APNS_CERTIFICATE=
export FCM_API_KEY=
